<div>
    <div
        id="login-box"
        class="col-xs-12 col-md-3 col-lg-3 form-center"
    >
        <section class="box">
            <div class="form-label text-center">
                <input
                    class="btn btn-primary"
                    value="Entrar"
                    ng-click="entrar()";
                />
            </div>
            <div class="form-label text-center">
                <input
                    class="btn btn-primary"
                    value="Cadastrar"
                    ng-click="cadastro()";
                />
            </div>
        </section>
      </div>
</div>
